In [2]:
import pandas as pd
import re
import getpass 
import matplotlib.pyplot as plt
import seaborn as sns
from sqlalchemy import create_engine, types
mainData= pd.read_csv('case_study_dataset.csv')
mainData.shape

(149603, 4)

In [4]:
password = getpass.getpass()

engine = create_engine(f'mysql://root:{password}@localhost/casestudy') #create engine will create the dabase in your localhost
#mainData.to_sql('dataset',con=engine,index=False,if_exists='append')

In [4]:
'''mainData['day'] = [re.sub(' \d*:\d*:\d*','',day) for day in mainData['time']] #A column specifically for the day
mainData['time']= pd.to_datetime(mainData['time']) #change the data type of time column'''

"mainData['day'] = [re.sub(' \\d*:\\d*:\\d*','',day) for day in mainData['time']] #A column specifically for the day\nmainData['time']= pd.to_datetime(mainData['time']) #change the data type of time column"

In [5]:
'''letterToNumbers = {'a':'1', 'b':'4','c':'7', 'd':'5', 'e':'3', 'f':'8'}
#mainData['user_id'] = [re.sub('-','',user) for user in mainData['user_id']] 

a = ['123aa45f9']
def replaceLetters(wordList):
    auxList = []
    for word in wordList: 
        for letter, number in letterToNumbers.items():
            word = word.replace(letter,number)
        auxList.append(word)
    return auxList
mainData['user_id'] = replaceLetters(mainData['user_id'])
        '''

"letterToNumbers = {'a':'1', 'b':'4','c':'7', 'd':'5', 'e':'3', 'f':'8'}\n#mainData['user_id'] = [re.sub('-','',user) for user in mainData['user_id']] \n\na = ['123aa45f9']\ndef replaceLetters(wordList):\n    auxList = []\n    for word in wordList: \n        for letter, number in letterToNumbers.items():\n            word = word.replace(letter,number)\n        auxList.append(word)\n    return auxList\nmainData['user_id'] = replaceLetters(mainData['user_id'])\n        "

In [3]:
groupControl = mainData['user_id'].loc[(mainData['event']=='start_session')&(mainData['value']=='control_group')]
groupControl.drop_duplicates(inplace=True)
groupControl.reset_index(drop=True,inplace=True)
controlDf = pd.DataFrame({'user_id':groupControl, 'group':1})

groupTest= mainData['user_id'].loc[(mainData['event']=='start_session')&(mainData['value']=='test_group')]
groupTest.drop_duplicates(inplace=True)
groupTest.reset_index(drop=True,inplace=True)
testDf = pd.DataFrame({'user_id':groupControl, 'group':2})

                                    user_id  group
0      08c17d9b-784c-9d38-0941-17b1b788c8da      2
1      dae78c1e-96da-1857-4109-17bd523901a5      2
2      6c63e2e5-0a0b-0f1c-896a-17b14452f994      2
3      1189885c-28ed-0157-2613-17bde84126ff      2
4      28cafaa9-b777-8a05-3091-17aa41202070      2
...                                     ...    ...
19689  fdc606f0-bcd7-14d2-ceb1-17bf0f2d5d5d      2
19690  64121afb-f262-cfff-a3b0-17bf0f2cbbd9      2
19691  9cd6a8da-d676-6c16-ec74-17a8d40ddbf2      2
19692  43e21284-1f92-3e7e-3074-17bf0f3cc9e2      2
19693  e8690374-114e-6ae0-f60c-176c81e2d1fa      2

[19694 rows x 2 columns]

In [5]:
testDf.to_sql('testGroup',con=engine,index=False,if_exists='append')
controlDf.to_sql('controlGroup',con=engine,index=False,if_exists='append')

C:\Users\Sebas!\AppData\Local\Programs\Python\Python38\lib\site-packages\pandas\io\sql.py:1423: UserWarning: The provided table name 'testGroup' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)
C:\Users\Sebas!\AppData\Local\Programs\Python\Python38\lib\site-packages\pandas\io\sql.py:1423: UserWarning: The provided table name 'controlGroup' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

In [10]:
mainData['user_id'].loc[(mainData['event']=='start_session')&(mainData['value']=='test_group')]

1         0509a0e8-28a9-53be-103f-177b0a283e77
2         0509a0e8-28a9-53be-103f-177b0a283e77
7         028b8651-153f-d22f-a7e1-17b05cdd32f0
8         758b474f-8809-f5f0-f4c7-178069105fc6
12        a362d520-0524-15b8-3078-17bc8d422e47
                          ...
149586                    544038240.1631215329
149588    3c0bfdaf-d268-75da-821e-17bf107df165
149591    5495016b-158f-f771-0ecc-17bf0f3ca6d3
149593    26c3c96a-1fae-ee42-cf5a-178dd3df738b
149595    5dce3b93-c47c-7b65-14bf-17bee00a4003
Name: user_id, Length: 38566, dtype: object

In [3]:
#Create a dictionary, each key is a day with all the events
dayData = {}
for day in mainData['day'].unique():
    dayData[day] = mainData.loc[mainData['day']==day].sort_values(by='time')

In [ ]:
print(mainData['event'].unique())
print(mainData['value'].unique())
'''
Event column:
start_session means the user started a new session, 
is also when the user group is identified, check value column in wich 
group is assigned

popup_action a popup was shown to the user or clicked or dismissed, check value
to see what actually happened


Value column:
test_group the user is with the new popup template

control_group the user keeps the old popup template

dismissed the user clicked the X button

clicked user clicked in to the promotion

presented this popup it's not too intrusive, the user ignored it
'''

In [ ]:
mainData['day'].unique()

In [6]:
mainData

,time,user_id,event,value
0,2021-09-10 00:00:10,1ac74019-5911-08b3-2450-1780ad898ec6,popup_action,presented
1,2021-09-10 00:00:14,0509a0e8-28a9-53be-103f-177b0a283e77,start_session,test_group
2,2021-09-10 00:00:18,0509a0e8-28a9-53be-103f-177b0a283e77,start_session,test_group
3,2021-09-10 00:00:22,08c17d9b-784c-9d38-0941-17b1b788c8da,start_session,control_group
4,2021-09-10 00:00:26,08c17d9b-784c-9d38-0941-17b1b788c8da,popup_action,presented
...,...,...,...,...
149598,2021-09-16 23:31:52,3c0bfdaf-d268-75da-821e-17bf107df165,popup_action,clicked
149599,2021-09-16 23:31:56,43e21284-1f92-3e7e-3074-17bf0f3cc9e2,start_session,control_group
149600,2021-09-16 23:32:00,beed7716-f642-384a-0e4f-17a17d3bfee6,popup_action,presented
149601,2021-09-16 23:32:04,e8690374-114e-6ae0-f60c-176c81e2d1fa,start_session,control_group
149602,2021-09-16 23:32:08,43e21284-1f92-3e7e-3074-17bf0f3cc9e2,popup_action,presented